{% extends 'base-other-page.html' %}
{% load static %}
{% load sass_tags %}
{% load widget_tweaks %}
{% block content %}
<script>
  function saveDetails() {
    var email = document.getElementById('email').value;
    var saveDetailsCheckbox = document.getElementById('rememberMe');

    if (saveDetailsCheckbox.checked) {
        // Save email to localStorage
        localStorage.setItem('savedEmail', email);
        // Do not save password for security reasons
        localStorage.setItem('saveDetailsChecked', 'true'); // Store checkbox state
    } else {
        // Clear saved details if checkbox is not checked
        localStorage.removeItem('savedEmail');
        localStorage.removeItem('saveDetailsChecked'); // Remove checkbox state
    }
  }

  function loadSavedDetails() {
    var savedEmail = localStorage.getItem('savedEmail');
    var saveDetailsChecked = localStorage.getItem('saveDetailsChecked');
    
    if (savedEmail) {
        document.getElementById('email').value = savedEmail;
    }
    if (saveDetailsChecked === 'true') {
        document.getElementById('rememberMe').checked = true;
    }
  }

  window.onload = function() {
    loadSavedDetails();
    document.getElementById('rememberMe').addEventListener('change', saveDetails);
  };
</script>


<div class="row m-0">
    <div class="col-12 p-0">    
      <div class="login-card">
        <div>
          <div><a class="logo" href="#"><img class="img-fluid for-light" src="{{ header_logo }}" alt="loginpage"><img class="img-fluid for-dark" src="{{ header_logo }}" alt="loginpage"></a></div>
          <div class="login-main"> 
            <form class="theme-form" method='post' novalidate>
                {% csrf_token %}
              <h4>Sign in to account</h4>
              <p>Enter your email & password to login</p>
              
              <div class="form-group">
                <label class="col-form-label">Email</label>
                {{ form.email }}
              </div>
              <div class="form-group">
                <label class="col-form-label">Password</label>
                <div class="form-input position-relative">
                    {{ form.password }}
                </div>
              </div>
              <div class="form-group mb-0">
                <div class="checkbox p-0">
                  <input id="rememberMe" type="checkbox" name="rememberMe">
                  <label class="text-muted" for="rememberMe">Remember password</label>
                </div><a class="link" href="{% url 'forgot_password' %}">Forgot password?</a>
                <div class="text-end mt-3">
                  <button class="btn btn-primary btn-block w-100" type="submit">Sign in</button>
                </div>
              </div>
              </div>
              <!-- <p class="mt-4 mb-0 text-center">Don't have an account? <a class="ms-2" href="signup_home">Create Account</a></p> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}